// MAIN HEADER NAV BAR //
.header {
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    min-width: 100vw;
    min-height: 7vh;
    padding:0 1.25rem;
      a{
        h1{
          font-family: 'arial';
          font-weight: 900;
          font-size: 1.5rem;
          color:black;
          background-color: white;
          border-radius: .25rem;
          padding:.35rem .65rem;
          box-shadow: 0 0 5px 2px #2b034b;
        }
        }

      .sec{
        display: flex;
        flex:1;
        justify-content: flex-end;
        p{
          font-family: 'arial';
          font-weight: 900;
          padding:0 .75rem;
        }
      }
    }